.out{
	display: flex;
	flex-direction:column;
}
.nav-bar-block {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}
.nav-bar-block .bar-stable {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    background-image: linear-gradient(0deg,#b2b2b2,#b2b2b2 50%,transparent 50%);
    color: #444;
}
.bar-header {
    top: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
}
.bar {
    border: none;
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    height: 48px;
}
.bar-stable .button.button-clear {
    border-color: transparent;
    background: 0 0;
    box-shadow: none;
    color: #444;
    font-size: 30px;
    height: 48px;
}
.bar .button.back-button, .bar button.back-button {
    display: block;
    margin-right: 5px;
    padding: 0;
    white-space: nowrap;
    font-weight: 400;
    margin-top: -5px;
}
.bar .title {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    line-height: 44px;
}
.bar .title {
    font-size: 20px!important;
}
.bar.bar-stable .title {
    color: #444;
}
