@function px2rem($px){
  @return $px / 100px * 1rem;
}
.detail{
	.detail_list{
		li{
			overflow:hidden;
			.details{
				float:left;
				img{
					width:px2rem(85px);
					height:px2rem(85px);
					margin:px2rem(15px) 0 px2rem(10px) px2rem(5px);
				}
			}
			.d_word{
				float:left;
				p{
					font-size:px2rem(12px);
				}
			}			
		}
	}
}