@function px2rem($px){
  @return $px / 100px * 1rem;
}
.type_entry_box {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
}
.flex{
    display: flex;
    overflow: hidden;
}
.type_entry_box .type_entry {
    width: 25%;
    height: px2rem(86px);
    text-align: center;
    // margin-top: 10px;
}
.type_entry_box .type_entry img {
	margin-top: 10px;
    width: px2rem(40px);
    height: px2rem(40px);
}
.type_entry_box .type_entry div:last-child {
    font-size: px2rem(12px);
    color: #666;
}

