@function px2rem($px){
  @return $px / 100px * 1rem;
}
.gong{
	height:px2rem(50px);
	background: #fff;
}
.sg_notice{
	overflow: hidden;
	height: px2rem(20px);
	padding: px2rem(10px) 0;
}
.sg_notice_title,.sg_notice_content{
	display: inline-block;
	float: left;
}
.sg_notice .sg_notice_title{
	width: px2rem(110px);
	height: px2rem(22px);
	margin-left: px2rem(14px);
}
.sg_notice_title img {
	height:100%;
	vertical-align: middle;
}
.sg_notice .sg_notice_content{
	width: px2rem(220px);
	height: px2rem(20px);
	padding: 0 px2rem(10px);
	font-size: px2rem(14px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}
