@function px2rem($px){
  @return $px / 100px * 1rem;
}
.guess_interesting{
	width: 100%;
	margin-top: px2rem(8px);
	padding-bottom: 0;
	height: px2rem(400px);
	background:#f4f4f4;
}
.gi_top{
	text-align: center;
	font-size: px2rem(18px);
	color:#666;
	padding-bottom: 0;
	padding-top: px2rem(10px);
	height: px2rem(20px);
}
.gi_top .f_left,.f_right{
	width: px2rem(22px);
	height: px2rem(2px);
	background: #666;
	margin-bottom: px2rem(5px);
}
.f_cen{
	margin:0 px2rem(12px);
}
.lcj-like{
	background:#f4f4f4;
}
.like_th{
	width: 46%;
	float: left;
	background: #fff;
	margin:px2rem(10px) 0 0 px2rem(10px);
	padding:px2rem(8px);
}
.like_th img{
	width: 80%;
	margin-left: %10;
}
.price{
	color: #F40;
}
