@function px2rem($px){
  @return $px / 100px * 1rem;
}
.Picfor{
	margin-top: px2rem(8px);
	padding: px2rem(12px) px2rem(4px);
	height: px2rem(208px);
	background: #fff;
}
.Picfor img{
	width: 49%;
}
.Picfor img:nth-child(even){
	float: right;
}