.fav_recommond{
	width: 100%;
	margin-top: 8px;
	padding-bottom: 0;
	background: #FFF;
}
.fr__top{
	text-align: center;
	font-size: 18px;
	color:#FF5900;
	padding-bottom: 0;
	padding-top: 10px;
	height: 20px;
}
.tf_middle{
	margin:31px 9px 0;
}
.tf_footer{
	height: 140px;
	width: 100%;
	margin-top: 10px;
}
.tf_footer img{
	width: 32%;
}